.myinput {
    width: 800px;
    height: 40px;
    margin-left: 500px;
    margin-top: 70px;
    text-align: center;
    color: black;
    font-size: large;
    font-family: sans-serif;
border-radius: 40px;
border-color: burlywood;
}


h4{
    text-align: center;
    margin-top: 15px;
    
}

h5{
    text-align: center;
    margin-top: 50px;
    
}

.btn-primary {
    margin-left: 831px;
    margin-top: 20px;
    width: 150px;

}

.btn-danger {
    margin-left: 1300px;
    margin-top: 20px;
    width: 150px;

}
